
 			<?xml version="1.0"?>
 			
 			<model>
 			<name>Aruco tag1</name>
 			<version>1.0</version>
 			<sdf version="1.6">model.sdf</sdf>
 			
 			<author>
 				<name>gz</name>
 				<email>2205250117@qq.com</email>
 			</author>
 			
 			<description>
 			Aruco tag 1
 			</description>
 			
 			</model>
 					